/* ========================= Customize ========================= */

#customize {
	position:fixed;
	top:60px;
	left:-150px;
	font-size:14px;
	line-height:20px;
	font-weight:400;
	z-index:8000;
	-webkit-transition:left .3s ease;
	transition:left .3s ease;
}
#customize.in { left:0px; }
	#customize .popup-open {
		position:absolute;
		top:0px;
		right:-50px;
		width:50px;
		height:50px;
		color:#909090;
		font-size:24px;
		line-height:50px;
		text-align:center;
		background-color:rgba(16,16,16,.8);
		border-radius:0px 4px 4px 0px;
		-webkit-transition:color .2s ease, background-color .2s ease;
		transition:color .2s ease, background-color .2s ease;
	}
	.ie #customize .popup-open { background-color:#101010; }
	#customize .popup-open:hover {
		color:#FFF;
		background-color:#101010;
		cursor:pointer;
	}
	#customize .wrap-customize {
		width:150px;
		color:#7a7a7a;
		background-color:rgba(16,16,16,.8);
		padding:10px 15px;
		border-radius:0px 0px 4px 0px;
		-webkit-transition:background-color .2s ease;
		transition:background-color .2s ease;
	}
	.ie #customize .wrap-customize, #customize:hover .popup-open, #customize:hover .wrap-customize { background-color:#101010; }
		#customize .wrap-customize h5 {
			color:#a9a9a9;
			font-size:16px;
			line-height:22px;
			font-weight:500;
			cursor:default;
			padding-bottom:4px;
			margin-bottom:10px;
			border-bottom:1px dotted #606060;
		}
		#customize .wrap-customize a, #customize .wrap-customize a:visited { color:#7a7a7a; }
		#customize .wrap-customize a:hover { color:#FFF; }
		#customize .wrap-customize .customize-panel { padding:10px 0px; }
		#customize .wrap-customize .customize-list-link a {
			display:block;
			margin-bottom:4px;
		}
		#customize .wrap-customize .customize-list-link a:last-child { margin-bottom:0px; }
			#customize .wrap-customize .customize-list-link a .fa { margin-right:5px; }
		#customize .customize-list-color {
			overflow:hidden;
			margin:-3px;
		}
			#customize .customize-list-color a {
				float:left;
				width:36px;
				height:36px;
				margin:3px;
				-webkit-transition:opacity .2s ease-in-out;
				transition:opacity .2s ease-in-out;
			}
			#customize .customize-list-color a:hover { opacity:0.8; }
			
			#customize .customize-list-link a { text-decoration: none; }

#customize .customize-skin-color {
    overflow: hidden;
    margin: -3px;
}
			
#customize .customize-skin-color a {
	float: left;
	width: 36px;
	height: 36px;
	margin: 3px;
	-webkit-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}
#customize .customize-skin-color a:hover {
    opacity: 0.8;
}